<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#222222"
    },
    "button": {
      "background": "transparent",
      "text": "#FFFFFF",
      "border": "#FFFFFF"
    }
  },
  "position": "bottom-right",
  "content": {
    "message": "Questo sito utilizza cookies per garantire una migliore esperienza di navigazione",
    "dismiss": "Va bene!",
    "link": "Che cosa sono i cookies?",
    "href": "/privacy"
  }
})});
</script>
