<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection": "{{ .Section }}",
        "name": "{{ .Title }}",
        "headline": "{{ .Title }}",
        "description": "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
        "inLanguage": "it",
        "author": "Marco Garantini",
        "creator": "Marco Garantini",
        "publisher": "Marco Garantini",
        "copyrightHolder": "Marco Garantini",
        "copyrightYear": "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date.Format "2006-01-02" }}",
        "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
        "url": "{{ .Permalink }}",
        "wordCount": "{{ .WordCount }}",
        "image": "{{ printf "%s%s" .Site.BaseURL .Page.Params.image }}",
        "keywords": "{{ if isset .Params "keywords" }}{{ range .Params.keywords }}{{ . }}, {{ end }}{{ end }}Blog"
    }
    </script>
